@using Diplom1.Helper
@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h2>О КОМПАНИИ</h2>
        <p>
            ЧТСУП «AirMotors» — станция технического обслуживания в Минске, оснащенная самым современным импортным оборудованием
            и профессиональным инструментом для проведения технического обслуживания, всех видов диагностики, а также ремонтных работ
            и замены элементов. На СТО «AirMotors» работают только профессионалы, прошедшие профессиональную подготовку в Московском
            филиале американской компании «HUNTER».
        </p>
        <p>
            Станция технического обслуживания находится в новом здании на съезде к автозаправке «Газпромнефть» (27км МКАД). В здании, кроме СТО,
            находится автомойка и комфортабельное кафе, где можно удобно расположиться в ожидании завершения работ.
        </p>
    </div>
    <div class="container">
        <h2>Почему выбирают нас</h2>
        <div class="service-benefit">
            <span>1</span>
            <h3>Мы ремонтируем только то, что требует ремонта</h3>
            <p>
                Выбирая станцию технического обслуживания "AirMotors", вы получаете 100% гарантии честного обслуживания без навязывания или выполнения ненужных работ.
            </p>
        </div>
        <div class="service-benefit">
            <span>2</span>
            <h3>Высокое качество услуг</h3>
            <p>
                Мастера автосервиса - профессионалы, прошедшие профессиональную подготовку у филиала американской компании "Hunter Engineering Company" в Москве. Все услуги автосервиса сертифицированы и предоставляются в соответствии с нормативными документами.
            </p>
        </div>
        <div class="service-benefit">
            <span>3</span>
            <h3>Быстрое обслуживание</h3>
            <p>
                На станции технического обслуживания работают 5 постов, оснащенных современным оборудованием зарубежных производителей для организации быстрого и качественного обслуживания автомобилей.
            </p>
        </div>
        <div class="service-benefit">
            <span>4</span>
            <h3>Комфортная клиентская зона</h3>
            <p>
                В здании станции технического обслуживания находится уютное кафе со столиками, телевизором и возможностью подключения к интернету по Wi-fi, где можно расположиться на время ремонтных работ.
            </p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2>Галлерея</h2>
        <div class="row">
            <div class="col-lg-4 view view-tenth">
                @Html.Image("/img/about-1.jpg", "5 постов для оказания услуг автосервиса")
            </div>
            <div class="col-lg-4 view view-tenth">
                @Html.Image("/img/about-2.jpg", "Стенд Развал-схождение 3D")
            </div>
            <div class="col-lg-4 view view-tenth">
                @Html.Image("/img/about-3.jpg", "Стенд Развал-схождение 3D")
            </div>
            <div class="col-lg-4 view view-tenth">
                @Html.Image("/img/about-4.jpg", "Стенд Развал-схождение 3D")
            </div>
            <div class="col-lg-4 view view-tenth">
                @Html.Image("/img/about-5.jpg", "Стенд Развал-схождение 3D")
            </div>
            <div class="col-lg-4 view view-tenth">
                @Html.Image("/img/about-6.jpg", "Стенд Развал-схождение 3D")
            </div>
        </div>
    </div>
</section>